# ESPHome build files
build/
.esphome/

# Compiled Python files
__pycache__/
*.pyc
*.pyo

# Secrets
secrets.yaml

# KiCad temporary files
/KiCad/#auto_saved_files#/
/KiCad/chargriller-980-backups/
/KiCad/~*.lck