esphome:
  name: chargriller-980
  platform: ESP32
  board: esp32dev

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password
  power_save_mode: none
  ap:
    ssid: "CharGriller-980"
    password: "chargriller980"

captive_portal:

logger:
  level: DEBUG

api:
  encryption:
    key: !secret api_encryption_key

ota:
  password: !secret ota_password

web_server:
  port: 80

spi:
  clk_pin: GPIO18
  miso_pin: GPIO19

globals:
  - id: door_override
    type: bool
    restore_value: no
    initial_value: 'false'
  - id: error_code
    type: std::string
    restore_value: no
    initial_value: '""'
  - id: display_mode
    type: int
    restore_value: no
    initial_value: '0'  # 0=normal, 1=error, 2=menu

max31855:
  - platform: max31855
    name: "Smoker Temperature"
    id: smoker_temp
    cs_pin: GPIO21
    update_interval: 1s
    filters:
      - sliding_window_moving_average:
          window_size: 5
          send_every: 1

sensor:
  - platform: pulse_counter
    pin: 
      number: GPIO17
      mode: INPUT_PULLUP
    name: "Fan RPM"
    id: fan_rpm
    unit_of_measurement: 'RPM'
    fil
